*{
    margin: 0;
    padding: 0;
}

.telaLogin{
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
}

.logoDiv{
    margin: 50px;
}

.imagensExemplo{
    margin: 170px 0px 0px 100px;
}

.divDir{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 450px;
    
}

.loginDiv{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    padding: 50px;
    border: 1px solid #a3b0d9;
    width: 450px;
    height: 700px;
    gap: 50px
}

.emailDiv{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.senhaDiv{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.inputEmail{
    width: 320px;
    height: 50px;
    border-radius: 15px;
    border: 1px solid #a3b0d9;
    padding: 10px;
    font-size: 18px;
}

.inputSenha{
    width: 320px;
    height: 50px;
    border-radius: 15px;
    border: 1px solid #a3b0d9;
    padding: 10px;
    font-size: 18px;
}

.link20px{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #af75bf;
    font-size: 20px;
    cursor: pointer;
}.link20px:hover{
    color: #8f60bf;
}

.texto20px{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.cadastroLink{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.botaoLogin{
    width: 225px;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #fff;
    background-color: #af75bf;
    border-radius: 30px;
    border: 1px solid #000;
    cursor: pointer;
    transition: .5s;
}

/* caua nao gostou dessa transição, provavelmente vou tirar dps */
.botaoLogin:hover{
    background-color: #8f60bf;
    transition: .5s;
}