.containerBotoesSeguindoV{
    width: 900px;
    height: 65px;
}

.botaoSeguidoresV{
    background-color: #b66de9;
    font-size: 30px;
    height: 65px;
    color: white;
    border: none;
    width: 50%;
    cursor: pointer;
}
/* .botaoSeguidores:hover{
    background-color: #cc90f7;
} */

.ativoSeguidoresV{
    background-color: #8f60bf;
}

.botaoSeguindoV{
    background-color: #b66de9;
    font-size: 30px;
    height: 65px;
    color: white;
    border: none;
    width: 450px;
    cursor: pointer;
}

.ativoSeguindoV{
    background-color: #8f60bf;
}
/* .botaoSeguindo:hover{
    background-color: #664487;
} */

.divBotoesSeguindoV{
    display: flex;
}