.containerBotoesSeguindo{
    width: 900px;
    height: 65px;
}

.botaoSeguidores{
    background-color: #b66de9;
    font-size: 30px;
    height: 65px;
    color: white;
    border: none;
    width: 450px;
    cursor: pointer;
}
.botaoSeguidores:hover{
    background-color: #cc90f7;
}

.botaoSeguindo{
    background-color: #8f60bf;
    font-size: 30px;
    height: 65px;
    color: white;
    border: none;
    width: 450px;
    cursor: pointer;
}
.botaoSeguindo:hover{
    background-color: #664487;
}

.divBotoesSeguindo{
    display: flex;
}