.reacoes{
    margin: 0 auto;
    width: 53.5%;
    display: flex;
    justify-content: space-between;

}

.reactions{
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.iconesReacao{
    width: 32px;
    height: 32px;
}