.containerImagemFeed{
    display: flex;
    justify-content: center;
}

.imagemFeed{
    border-radius: 18px;
    border: 1px solid black;
}

@media (max-width: 430px){
    .imagemFeed{
        width: 250px;
    }
}