
.colecoes{
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;   
}

.title {
    display: flex;
    align-items: center;
    border: solid 1px;
    width: 600px;
    height: 80px;
    margin-top: 40px;
    border-radius: 13px;
    background-color:rgb(219 105 219 / 33%); 
    box-shadow: 0px 3px 5px 0px rgb(0, 0, 0, 0.5);
    flex-direction: column;
    justify-content: center;
}

.divMain{
    display: flex;
    width: 90%;
    flex-direction: column;
    gap: 100px;
}


.pai{
    display: flex;
}

.titulo{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.divNadaSalvo{
    height: min-content;

}

.nadaSalvo{
    display: flex;
    justify-content: center;
    font-size: 20px;
}


