.fecharX{
    width: 10px;
}

.botaoFechar{
    display: flex;
    position: absolute;
    right: 2%;
}

.fotoNotificacao{
    width: 45px;
    display: flex;
}

.txtNotificacao{
    font-size: 10px;
    text-transform: lowercase;
}

.imagemUser{
    display: flex;
    align-items: center;
    gap:5px

}