.botoesPesquisa{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 120px;
    align-items: flex-end;
    gap: 150px;
}

.principalPesquisa {
    display: flex;
    gap: 100px;
}

.conteudo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 93%;
    margin-left: auto; 
}

.sideBarPesquisa{
    width: 7%;
}

.PostsPesq{
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-direction: column;
    margin-top: 5%;
    align-items: center;
}

.postPesquisa{
    width: 500px;
    height: 400px;
    background-color: aliceblue;
}

.btnPesquisa{
    height: 50px;
    width: 200px;
    border: none;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 300;
    
}

.rainbowBar{
    width: 150px;
    height: 10px;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.162);
    display: none;
    transition: all 3s;
}

.btnLeft{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btnRight{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postOrUser{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
}