.feed {
    display: flex;
}

.containerFeed {
    overflow-x: hidden;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 30px;
    padding: 10px 0px 20px 0px;
}

.reacoes {
    margin: 0 auto;
    width: 45vw;
    display: flex;
    justify-content: space-between;

}

.reactions {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.iconesReacao {
    width: 32px;
    height: 32px;
}

.containerNotificacao {
    height: min-content;
    display: flex;
    justify-content: flex-end;
    padding: 20px 10px 20px 20px;
    position: fixed;
    right: 0;
}

.conteudoFeed {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid black;
    width: 680px;
    height: max-content;
    background-color: white;
    border-radius: 15px;
    padding: 0px 0px 20px 0px;
}

.perfilFeedContainer {
    align-items: center;
    display: flex;
    padding: 30px 0px 0px 30px;
    gap: 30px;
}

.pfpFeed {
    border-radius: 50px;
    width: 70px;
    height: 70px;
}

.pfpFeed, .pfpPostFeed{
    border: 1px solid black;
}

.nomePerfilFeed {
    font-size: 26px;
    color: #000;
}

.arrobaFeed {
    font-size: 28px;
    color: #b6b3b3;
}

.textoDescricao {
    width: 70%;
    margin: 0 auto;
    font-size: 15px;
}

.containerImagemFeed {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.imagemFeed {
    border-radius: 18px;
    border: 1px solid black;
}

.postFeedContainer {
    display: flex;
    width: 675px;
    height: 115px;
    align-items: center;
    border: 1px solid black;
    padding: 50px;
    gap: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.pfpPostFeed {
    border-radius: 50px;
    width: 70px;
    height: 70px;
}

.textoPostFeed {
    font-size: 26px;
}

@media (max-width: 860px) {
    .conteudoFeed{
        width: 600px;
    }
    .postFeedContainer{
        width: 600px;
    }
}

@media (max-width: 834px) {
    .feed {
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    .containerFeed {
        padding-bottom: 110px;
    }
}

@media (max-width: 790px) {
    .imagemSinoNotificacao {
        width: 35px;
    }
}

@media (max-width: 680px) {
    .conteudoFeed {
        width: 580px;
    }

    .postFeedContainer {
        width: 580px;
    }
}

@media (max-width: 665px) {
    .conteudoFeed {
        width: 480px;
    }

    .postFeedContainer {
        width: 480px;
    }
}

@media (max-width: 565px) {
    .conteudoFeed {
        width: 380px;
    }

    .postFeedContainer {
        width: 380px;
    }

    .imagemFeed{
        width: 300px;
    }
}

@media (max-width: 465px) {
    .conteudoFeed {
        width: 350px;
    }

    .postFeedContainer {
        width: 350px;
    }

    .imagemFeed{
        width: 300px;
    }

    .reacoes{
        justify-content: center;
        gap: 35px;
    }
    .reactions{
        gap: 35px;
    }

    .iconesReacao{
        width: 25px;
        height: 25px;
    }
}

@media (max-width: 430px) {
    .iconesReacao {
        width: 22px;
        height: 22px;
    }

    .imagemSinoNotificacao {
        width: 25px;
    }

    .containerNotificacao {
        padding-bottom: 0px;
        padding-right: 5px;
    }

    .conteudoFeed {
        width: 360px;
    }

    .pfpFeed {
        width: 55px;
    }

    .nomePerfilFeed {
        font-size: 18px;
    }

    .arrobaFeed {
        font-size: 20px;
    }

    .textoDescricao {
        font-size: 12px;
    }

    .imagemFeed {
        width: 250px;
    }

    .postFeedContainer {
        width: 360px;
        padding: 15px;
    }

    .pfpPostFeed {
        width: 45px;
        height: 45px;
    }

    .textoPostFeed {
        font-size: 18px;
    }
}

@media (max-width: 420px) {
    .postFeedContainer{
        width: 300px;
    }
    .conteudoFeed{
        width: 300px;
    }
}  

@media (max-width: 360px) {
    .postFeedContainer{
        width: 280px;
    }
    .conteudoFeed{
        width: 280px;
    }
    .imagemFeed{
        width: 200px;
    }
}