.feed {
    display: flex;
}

.containerFeedF{
    overflow-x: hidden;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 30px;
    padding: 10px 0px 20px 0px;
}

.reacoesF {
    margin: 0 auto;
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.reactionsF {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.iconesReacaoF{
    cursor: pointer;
}

.iconesReacaoF img{
color: aqua;
}

.iconesReacaoF:hover{
    transform: scale(1.1);
}

.iconesReacaoF {
    width: 32px;
    height: 32px;
}

.containerNotificacaoF {
    height: min-content;
    display: flex;
    justify-content: flex-end;
    padding: 20px 10px 20px 20px;
    position: fixed;
    right: 0;
}

.conteudoFeedF {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 680px;
    height: max-content;
    border-radius: 15px;
    padding: 0px 0px 20px 0px;
}

.perfilFeedContainerF {
    align-items: center;
    display: flex;
    padding: 40px;
    gap: 30px;
    flex-direction: column;
    border: 1px solid black;
    background-color: white;
    border-radius: 15px;
}

.pfpfeedF {
    border-radius: 75px;
    width: 70px;
    height: 70px;
    border: 1px solid black;
}

.perfilInfoF{
    width: 100%;
}

.paiPfpFeedF{
    width: 100%;
    display: flex;
    gap: 20px;
}


.pfpFeedF, .pfpPostFeedF{
    border: 1px solid black;
}

.nomePerfilFeedF {
    font-size: 24px;
    color: #000;
}

.arrobaFeedF {
    font-size: 22px;
    color: #b6b3b3;
}

.textoDescricaoF {
    margin: 0 auto;
    width: 70%;
    font-size: 15px;
    padding: 0;
    overflow-wrap: break-word;
}

.containerImagemFeedF {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.imagemFeedF {
    border-radius: 18px;
    border: 1px solid black;
    width: 350px;
}

.postFeedContainerF {
    display: flex;
    width: 675px;
    height: 115px;
    align-items: center;
    border: 1px solid black;
    padding: 50px;
    gap: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.pfpPostFeedF {
    border-radius: 50px;
    width: 70px;
    height: 70px;
}

.textoPostFeedF {
    font-size: 26px;
}

@media (max-width: 860px) {
    .conteudoFeedF{
        width: 600px;
    }
    .postFeedContainerF{
        width: 600px;
    }
}

@media (max-width: 834px) {
    .feedF {
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    .containerFeedF {
        padding-bottom: 110px;
    }
}

@media (max-width: 790px) {
    .imagemSinoNotificacaoF {
        width: 35px;
    }
}

@media (max-width: 680px) {
    .conteudoFeedF {
        width: 580px;
    }

    .postFeedContainerF {
        width: 580px;
    }
}

@media (max-width: 665px) {
    .conteudoFeedF {
        width: 480px;
    }

    .postFeedContainerF {
        width: 480px;
    }
}

@media (max-width: 565px) {
    .conteudoFeedF {
        width: 380px;
    }

    .postFeedContainerF {
        width: 380px;
    }

    .imagemFeedF{
        width: 300px;
    }
    .reacoesF{
        width: 80%;
    }
}

@media (max-width: 465px) {
    .conteudoFeedF {
        width: 350px;
    }

    .postFeedContainerF {
        width: 350px;
    }

    .imagemFeedF{
        width: 300px;
    }

    .reacoesF{
        justify-content: center;
        gap: 35px;
    }
    .reactionsF{
        gap: 35px;
    }

    .iconesReacaoF{
        width: 25px;
        height: 25px;
    }
}

@media (max-width: 430px) {
    .iconesReacaoF {
        width: 22px;
        height: 22px;
    }

    .imagemSinoNotificacaoF {
        width: 25px;
    }

    .containerNotificacaoF {
        padding-bottom: 0px;
        padding-right: 5px;
    }

    .conteudoFeedF {
        width: 360px;
    }

    .pfpFeedF {
        width: 55px;
    }

    .nomePerfilFeedF {
        font-size: 18px;
    }

    .arrobaFeedF {
        font-size: 20px;
    }

    .textoDescricaoF {
        font-size: 12px;
    }

    .imagemFeedCF {
        width: 250px;
    }

    .postFeedContainerF {
        width: 360px;
        padding: 15px;
    }

    .pfpPostFeedF {
        width: 45px;
        height: 45px;
    }

    .textoPostFeedF {
        font-size: 18px;
    }
}

@media (max-width: 420px) {
    .postFeedContainerF{
        width: 300px;
    }
    .conteudoFeedF{
        width: 300px;
    }
}  

@media (max-width: 360px) {
    .postFeedContainerF{
        width: 280px;
    }
    .conteudoFeedF{
        width: 280px;
    }
    .imagemFeedF{
        width: 200px;
    }
}