.feed{
    display: flex;
}

.containerFeed{
    overflow-x: hidden;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 30px;
    padding-bottom: 20px;
}

@media (max-width: 834px){
    .feed{
        flex-direction: column-reverse;
        justify-content: space-between;
    }
    .containerFeed{
        padding-bottom: 110px;
    }
}

@media (max-width: 680px){
    
}