
.Principal{
    border: solid 1px;
    border-color: black;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo{
    transform: scale(0.6);
}

.img{
    margin: 0;
    margin-left: 10px;
    margin-top: 2px;
    padding: 0;
}

.Botoes{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: end;
    gap: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 30px;
    align-items: center;
}

