
@media(max-width: 836px){
    .headerPrincipal{
        width: 100%;
    }
    
    .sideBar{
        display: none !important;
    }

    .pai{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        height: 650px;
    }

    .mainPrincipal{
        display: flex;
        flex-direction: column-reverse;
        margin: 0;
        padding: 70px;
      }


    .containerTxt{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .textos{
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    p{
        width: 500px;
    }

    .sobre{
        display: none;
    }

    }
   


@media(max-width: 468px){
    .headerPrincipal{
        width: 100%;
        height: 80px;
    }

    .logoContainer{
        width: 400px;
        margin: 0;
        display: flex;
        gap: 80px;
        align-content: stretch;
        justify-content: center;
    }

    .Botoes{
        display: none;
    }

    .containerLogoMobile{
        display: flex;
        transform: scale(0.5);
    }

    .logo{
        transform: scale(0.5);
    }

    .title{
        width: 400px !important;
    }


    .pai{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
    }

    .imagemMocaArvore{
        display: none;
      }
    
      .mainPrincipal{
        display: flex;
        flex-direction: column;
        gap: 60px;
      }
    
      .containerTxt{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-content: stretch;
        align-items: center;
      }
    
      .textos{
        align-items: center;
        gap: 60px;
        
      }

      p{
        width: 400px;
      }


    .bar{
        display: flex;

    }

}