.containerModalNovoPost{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalNovoPost{
    display: flex;  
    flex-direction: column;
    width: 417px;
    height: 60vh;
    margin: 0 auto;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
}

.tituloModalNovo h1{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.tituloModalNovo hr{
    width: 25vw;
    border: 1px solid black;
}

.containerPerfilNovoPost{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.perfilNovoPost{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    gap: 10px;
}

.perfilNovoPost img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid black;
}

.perfilNovoPost p{
    font-size: 18px;
   font-weight: bold;
}



.textoNovoPost{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 250px;
    height: 110px;
    padding: 10px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
    background-color: white;
}

.textoNovoPost input{
    outline: none;
    background: transparent;
    border: none;
}

.imagemEnviarPost{
    position: absolute;
    bottom: 0;
    right: 0;
}

.containerInput{
    display: flex;
    border: 1px solid red;
}

.botaoPublicar{
    display: flex;
    justify-content: center;
    padding: 30px;
}

.botaoPublicar button{
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 1px 2px #fff;
    width: 179px;
    height: 35px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: #C9D3F2;
    outline: none;
    cursor: pointer;
}

.botaoPublicar button:hover{
    transform: scale(1.1);
}