
body{
    background: var(--gradient-background);
}


.sidebar{
    height: 100vh;
    width: 60px;
    background-color: var(--cor-0);
    border: 1px solid var(--cor-1);
    border-radius: 0px 13px 13px 0;
    display: flex;
    transition: width 0.5s ease;
    justify-content: center;

}

.sidebar:hover{
    width: 250px;
    transition: width 0.5s ease;
}

.searchIcon{
    margin-top: 25px;
    width: 22px;
    height: 22px;
}