    .containerCadastro{
    width: 350px;
    height: 600px;
    border: 1px solid #A3B0D9;
    border-radius: 15px;
    box-shadow: 2px 2px 4px #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5%;
    gap: 30px;
}

.mainCadastro{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    padding: 1%;
}

.sectionImagem img{
    width: 70%;
}

.headerCadastro{
    display: flex;
    align-items: center;
    height: 15vh;
}

.logoSemTexto{
    display: none;
}

li{
    list-style: none;
}

a{
        text-decoration: none;
    color: black;
}

.containerTitulo{
    width: max-content;
}

.containerDadosCadastro{
    display: flex;
    flex-direction: column;
}

@media (max-width:834px){
    .cadastroPai{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:428px){
    .cadastroPai{
        background: linear-gradient(
            145deg,
            hsl(56deg 100% 87%) 0%,
            hsl(97deg 100% 91%) 13%,
            hsl(149deg 100% 91%) 22%,
            hsl(173deg 94% 90%) 30%,
            hsl(189deg 100% 92%) 37%,
            hsl(201deg 100% 94%) 44%,
            hsl(207deg 100% 94%) 49%,
            hsl(217deg 100% 95%) 55%,
            hsl(238deg 100% 96%) 60%,
            hsl(267deg 100% 95%) 64%,
            hsl(252deg 100% 96%) 69%,
            hsl(217deg 100% 95%) 75%,
            hsl(200deg 100% 94%) 81%,
            hsl(192deg 100% 94%) 88%,
            hsl(186deg 100% 94%) 100%
        );
    }
    .containerCadastro{
        width: 100vw;
        background-color: white;
        margin-top: 50px;
        border-radius: 40px 40px 0 0;
    }
    .logoSemTexto{
        display: block;
    }
    .logo{
        display: none;
    }
    .headerCadastro{
        height: max-content;
        margin-top: 100px;
        display: flex;
    }
    .mainCadastro{
        padding: 0;
    }
}

.containerTitulo h2{
    font-size: 26px;
}

.containerInputs{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

input{
    width: 250px;
    height: 35px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #A3B0D9;
    padding: 10px;
    font-size: 16px;
}

.containerEmailEsenha{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.senhaEsquecida p{
    width: max-content;
}
hr{
    width: 250px;
    border-color: rgba(0, 0, 0, 0.15);
    margin-bottom: 13px;
}

.senhaEsquecida{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.spanCadastro{
    color: #8F60BF;
}

.containerBtn button{
    padding: 10px 60px;
    background-color: rgba(175, 117, 191, 0.76);
    border: 1px solid black;
    border-radius: 20px;
    color: white;
    font-size: 20px;
}