.mainConfig{
    height: 100%;
} 

.containerCursoEBio{
    height: 100vh;
    justify-content: space-around;
    display: flex;
    padding-top: 50px;
}

.selectCursos{
    position: relative;
    top: 20%;
    left: 1.5%;
    height: 40px;
    width: 200px;
    border-radius: 2px;
}

@media (max-width: 834px){
    .containerCursoEBio{
        flex-direction: column;
        align-items: flex-start;
        gap: 50px;
        height: fit-content;
        align-items: flex-start;
        margin: 25% 0px 0px 10%;
        justify-content: flex-end;
        /* border: 1px solid red; */
    }
}

@media (max-width: 420px){
    .containerCursoEBio{
        margin: 35% 0px 0px 10%;
    }
}

.imgCapaConfig{
    width: 100%;
    height: 200px;
}

.divEditarCapa{
    width: 100%;
    position: relative;
}

.custom-file-upload{
    justify-content: center;
    display: flex;
    align-items: center;
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 50%;
    border: none;
    bottom: -50%;
    left: 10%;
    transition: 0.4s;
}.custom-file-upload:hover{
    background-color: rgba(0, 0, 0, 0.15);
}

.inputEnviarImagemCapa{
    display: none;
}

.labelEditarCapa{
    justify-content: flex-end;
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
    padding-right: 20px;
    position: absolute;
    height: 200px;
    width: 100%;
    top: 0;
    transition: 0.4s;
}.labelEditarCapa:hover{
    background-color: rgba(0, 0, 0, 0.15);
}

.iconeEditarImagem{
    width: 50px;
    height: 50px;
}

.iconeEditarImagemCapa{
    width: 50px;
    height: 50px;
    position: absolute;
}

.inputEnviarImagemPerfil{
    display: none;
    width: 200px;
    height: 200px;
    position: absolute;
    border: none;
    bottom: -50%;
    left: 10%;        
}

.imgPerfilConfig{
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: -50%;
    border: 1px solid black;
    border-radius: 50%;
    left: 20%;
}

.elementoA:hover  .elementoB {
  opacity: 1; /* Quando o elemento A estiver em hover, torna o elemento B visível */
}

.imgPerfilConfig{
    left: 10%;
}

.fotosPerfilECapaConfig{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.escolhaCurso{
    width: 10%;
    height: 20px;
    background-color: white;
}

.escrevaBio{
    width: 50%;
    height: 100px;
}

.inputBio{
    width: 100%;
    height: 100px;
    resize: none;
}

textarea:focus, input:focus{
    outline: none;
}

@media (max-width: 834px){
    .escrevaBio{
        width: 90%;
        height: 100px;
        /* padding: ; */
        margin-bottom: 100px;
    }
    .escolhaCurso{
        width: 30%;
        height: 40px;
    }
}