.postFeedContainer{
    display: flex;
    width: 675px;
    height: 115px;
    align-items: center;
    border: 1px solid black;
    padding: 50px;
    gap: 15px;
    border-radius: 15px;
}

.pfpPostFeed{
    border-radius: 50px;
    width: 70px;
    height: 70px;
}

.textoPostFeed{
    font-size: 26px;
}

@media (max-width: 680px){
    .postFeedContainer{
        width: 580px;
    }
}

@media (max-width: 430px){
    .postFeedContainer{
        width: 360px;
        padding: 15px;
    }

    .pfpPostFeed{
        width: 45px;
        height: 45px;
    }

    .textoPostFeed{
        font-size: 18px;
    }
}